.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid grey;
}
.left{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left h2{
    color: grey;
}
.center ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    cursor: pointer;
}
.right{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;

}
.right button{
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
